/* navbar.css */
.navbar-custom {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Gradiente oscuro con naranja */
    border-radius: 10px;
    border: none;
    
}

.navbar-custom .navbar-nav .nav-link,
.navbar-custom .navbar-brand,
.navbar-custom .navbar-toggler-icon {
    color: white;
}

.navbar-custom .dropdown-menu {
    border-radius: 5px;
    background-color: #333;
}

.navbar-custom .dropdown-item {
    color: #ff7e5f; /* Naranja claro para los elementos del menú desplegable */
}

.navbar-custom .dropdown-item:hover {
    background-color: #555;
}

/* Para el botón de cerrar sesión */
.logout-btn {
    color: #ff7e5f; /* Naranja claro para el botón de cerrar sesión */
    background: none;
    border: none;
}

.logout-btn:hover {
    color: #ffa07a; /* Naranja más claro al pasar el mouse */
}


.navbar-custom .dropdown button {
    position: relative;
    overflow: hidden; /* Previene que el tamaño de la imagen afecte el flujo del documento */
    padding-left: 75px; /* Espacio para la imagen del avatar */
    height: 50px; /* Altura del botón para mantener la navbar sin cambios */
}

/* Estilo para la imagen del avatar */
.navbar-custom .dropdown-toggle img {
    position: absolute; /* Posición absoluta respecto al botón */
    top: 50%;
    left: 10px; /* Alineación a la izquierda dentro del botón */
    transform: translateY(-50%); /* Centrado vertical */
    width: 50px; /* Tamaño visible del avatar dentro del botón */
    height: 50px; /* Mantener la proporción */
    object-fit: cover;
    
    z-index: 1000; /* Asegurar que la imagen esté sobre otros elementos */
}

/* Estilo para el texto dentro del botón, para prevenir que se solape con la imagen del avatar */
.navbar-custom .dropdown-toggle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}