/* userReservations.css */

.user-reservations .card {
  height: 100%; /* Hace que todas las tarjetas tengan la misma altura */
  border-radius: 10px; /* Borde redondeado */
  overflow: hidden; /* Elimina las esquinas del borde */
  margin-bottom: 30px; /* Margen inferior */
 
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave para transform y sombra */
}

.user-reservations .card:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño de la tarjeta */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra suave para efecto de relieve */
}

/* Otros estilos existentes... */
.user-reservations .card-img-top {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  border: none;
  background-color: black;
}

.user-reservations .card-deck {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
